USE [master]
GO
/****** Object:  Database [list]    Script Date: 18/02/2025 09:03:48 ******/
CREATE DATABASE [list]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'list', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\list.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'list_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\list_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [list].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [list]
GO
/****** Object:  Table [dbo].[Tugas]    Script Date: 18/02/2025 09:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tugas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_tugas] [varchar](500) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[prioritas] [varchar](50) NOT NULL,
	[tanggal] [date] NOT NULL,
 CONSTRAINT [PK_Tugas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
